<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/product.css">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../../js/jquery-3.5.1.min.js"></script>
    <script src="../../js/popper2.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <title>xawft shop || Cart</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <div class="d-flex">
                <a href="/" class="navbar-brand ms-sm-3 ms-1"><img src="../images/general/logo.png" alt=""> Xawft Shop</a>
              <button class="navbar-toggler border-0" data-bs-toggle="offcanvas" data-bs-target="#navCanvas"><span class="navbar-toggler-icon"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end me-3">
              <ul class="navbar-nav">
                  <li class="nav-item px-2"><a href="/shop/home" class="nav-link">Home</a></li>
                  <li class="nav-item px-2"><a href="/shop/group" class="nav-link">Groups</a></li>
                  <li class="nav-item px-2"><a href="/shop/category" class="nav-link">Categories</a></li>
                  <li class="nav-item px-2"><a href="/shop/order" class="nav-link">Orders</a></li>
                  <li class="nav-item px-2"><a href="/shop/cart" class="nav-link active">Cart</a></li>
                  <li class="nav-item ps-2 dropdown"><img src="../images/users/<%= user.image %>" data-bs-toggle="dropdown" class="dropdown-toggle rounded-circle" width="40" alt="user image">
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="/shop/settings" class="sidebar">Profile</a></li>
                        <li class="dropdown-item"><a href="/logout" class="sidebar">Logout</a></li>
                    </ul> 
                  </li>       
              </ul>
            </div>
            <div class="offcanvas offcanvas-end w-50" id="navCanvas">
              <div class="offcanvas-body">
                  <ul>
                    <li class="py-3"><a href="/shop/home"><strong class="text-light">Home</strong></a></li>
                    <li class="pt-3"><a href="/shop/group">Groups</a></li>
                    <li class="pt-3"><a href="/shop/category">Categories</a></li>
                    <li class="pt-3"><a href="/shop/cart">Cart</a></li>
                    <li class="pt-3"><a href="/shop/order">Order</a></li>
                    <li class="pt-3"><a href="/shop/settings">Settings</a></li>
                    <li class="pt-3"><a href="/logout">Logout</a></li>
                  </ul>
              </div>
            </div>
        </nav>
    </header>
    <main class="container">
        <div class="row mt-4">
            <div class="col-md-8">
                <h2 style="font-weight: bolder;"><b>Your Cart</b></h2>
                <div class="row mt-5">
                    <% products.forEach(function(product){ %>
                        <div class="col-3 col-md-2">
                            <img src="../../images/products/<%= product.images[1] %>" alt="image 1" class="w-100">
                        </div>
                        <div class="col-6 col-md-7 d-flex align-items-center">
                            <p><span><strong><%= product.name %></strong></span> <br> <span class="textly">N<%= product.price %></span> <br> <span class="textly"><%= product.size %></span></p>
                        </div>
                        <div class="col-3 col-md-3 d-flex align-items-center">
                            <div>
                                <button class="btn cart mb-1 quantity_add" data-product="<%= product._id %>">+</button>
                                <button class=" btn cart mb-1 quantity_minus" data-product="<%= product._id %>">-</button>
                                <span class="btn pb-1 <%= product._id %>"><%= cart.quantity %></span>
                                <button class="btn cart mb-1 deleteProduct" data-product="<%= product._id %>">&times;</button>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="col-md-4 mt-sm-0 mt-3">
                <h5 class="fw-bolder">Congrats on your order.</h5>
                <hr class="line rounded">
                <h6 class="fw-bolder">Order Summary</h6>
                <div class="row mt-5">
                    <div class="col-8">
                        <p class="textly">Subtotal(<%= cart.length %> items)</p>
                    </div>
                    <div class="col-4 text-end">
                        <p>#<%= total %></p>
                    </div>
                    <div class="col-8">
                        <p class="textly">Delivery</p>
                    </div>
                    <div class="col-4 text-end">
                        <p class="fee">N0.00</p>
                    </div>
                    <div class="col-8">
                        <p class="textly">Discount</p>
                    </div>
                    <div class="col-4 text-end">
                        <p>No Discount</p>
                    </div>
                    <div class="col-8">
                        <p class="textly">Taxes</p>
                    </div>
                    <div class="col-4 text-end">
                        <p>No Tax</p>
                    </div>
                    <div class="col-8">
                        <p class="textly">Estimated Total</p>
                    </div>
                    <div class="col-4 text-end">
                        <p class="total"></p>
                    </div>
                    <span><input type="checkbox" class="form-label" id="delivery"> <b>Delivery</b></span>
                    <form method="post" id="deliveryForm">
                        <div class="form-group mb-3">
                            <label for="state" class="pb-1"><strong>State</strong></label>
                            <select name="state" id="state" class="form-control form-control-lg">
                        
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="city" class="pb-1"><strong>City</strong></label>
                            <select name="city" id="city" class="form-control form-control-lg">
                        
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="address" class="pb-1"><strong>Street Address</strong></label>
                            <input type="text" name="address" id="address" placeholder="Address" class="form-control form-control-lg">
                        </div>
                        <span><input type="checkbox" class="form-label" name="delivery" checked> <b>Delivery</b></span>
                        <button type="submit" class="btn cart w-100">Continue to Checkout</button>
                    </form>
                </div>
                <button class="btn cart mt-2 w-100" id="checkout">Continue to Checkout</button>
            </div>
        </div>
       <div class="row mt-4">
        <div class="col-md-8 col-sm-12 mt-4">
            <h2 style="font-weight: bolder;"><b>You may also like</b></h2>
            <div class="row mt-5">
                <% three.forEach(function(product){ %>
                    <div class="col-3 col-md-2">
                        <img src="../../images/products/<%= product.images[0] %>" alt="image" class="w-100">
                    </div>
                    <div class="col-6 col-md-7 d-flex align-items-center">
                        <p><span><strong><%= product.name %></strong></span> <br> <span class="textly">#<%= product.price %>.00</span> <br> <span class="textly"><%= product.size %></span></p>
                    </div>
                    <div class="col-3 col-md-3 d-flex align-items-center">
                        <div>
                            <a class="btn cart" href="/shop/product/<%= product._id %>">Check Product</a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
       </div>
    </main>
    
    <footer class="mt-5 container">
        <center>
          <p class="pb-1"><a href="/shop/contact">Contact Us</a></p>
          <a href="" class="footer-links"><i class="fa fa-instagram"></i></a> &nbsp; &nbsp; <a href="" class="footer-links"><i class="fa fa-facebook"></i></a> &nbsp; &nbsp; <a href="" class="footer-links"><i class="fa fa-twitter"></i></a> &nbsp; &nbsp; <a href="" class="footer-links"><i class="fa fa-linkedin"></i></a>
          <p class="py-2 footer-text">© 2023 Xawft, Inc. All rights reserved.</p>
        </center>
    </footer>
    <script>
        const total = Number(JSON.parse(JSON.stringify("<%= total %>")));
        $("p.total").text("#"+total+".00")
        const stateSelect = document.querySelector("#state");
        const citySelect = document.querySelector("#city");
        function ajaxGet(url, resolve, reject){
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function(data){
                    resolve(data);
                },
                error: function(err){
                    reject(err);
                }
            })
        }
        const getStates = new Promise((resolve, reject) => {
            ajaxGet("/location", resolve, reject);
        })
        getStates.then(function(states){
            let template = "<option>Select a state</option>";
            states.forEach(state => {
                template += `<option value="${state.state}">${state.state}</option>`;
            });
            stateSelect.insertAdjacentHTML("afterbegin", template);
        }).catch(function(error){
            console.log(error);
        })

        stateSelect.addEventListener("change", function(){
            const state = stateSelect.value;
            const getCities = new Promise((resolve, reject) => {
                ajaxGet("/location/state/"+ state, resolve, reject);
            })
            getCities.then(function(cities){
                let template = "<option>Select a city</option>";
                cities.forEach(city => {
                    template += `<option value="${city.cities}">${city.cities}</option>`;
                });
                citySelect.innerHTML = template;
            }).catch(function(error){
                console.log(error);
            })
        })
        const deliveryForm = $("#deliveryForm");
        deliveryForm.hide();
        const deliveryCheckBox = document.querySelector("#delivery");
        deliveryCheckBox.addEventListener("change", function(){
            if(deliveryCheckBox.checked){
                $("#checkout").hide();
                deliveryForm.show();
                $("p.fee").text("N2500.00")
                const d_fee = total+2500;
                $("p.total").text("#"+d_fee+".00")
            }else{
                deliveryForm.hide();
                $("#checkout").show();
                $("p.fee").text("N0.00")
                $("p.total").text("#"+total+".00")
            }
        })

        const adder = document.querySelectorAll(".quantity_add");
        const subber = document.querySelectorAll(".quantity_minus");
        const deletes = document.querySelectorAll(".deleteProduct");
        adder.forEach(function(addy){
            addy.addEventListener("click", function(){
                const product = addy.getAttribute("data-product");
                console.log(product);
                $.ajax({
                    url: "/cart/add/"+product,
                    type: "patch",
                    dataType: "json",
                    success: function(data){
                        if(data.status){
                            const quants = Number($("."+product).text());
                            $("."+product).text(quants+1);
                        }else if(!data.status && !data.failed){
                            alert(data.message);
                        }else{
                            alert(data.message);
                            location.reload(true);
                        }
                    }
                })
            })
        })

        subber.forEach(function(subby){
            subby.addEventListener("click", function(){
                const product = subby.getAttribute("data-product");
                $.ajax({
                    url: "/cart/remove/"+product,
                    type: "patch",
                    dataType: "json",
                    success: function(data){
                        if(data.status){
                            const quants = Number($("."+product).text());
                            $("."+product).text(quants-1);
                        }else if(!data.status && !data.failed){
                            alert(data.message);
                        }else{
                            alert(data.message);
                            location.reload(true);
                        }
                    }
                })
            })
        })
        
        deletes.forEach(function(dely){
            dely.addEventListener("click", function(){
                const product = dely.getAttribute("data-product");
                $.ajax({
                    url: "/cart/delete/"+product,
                    type: "delete",
                    dataType: "json",
                    success: function(data){
                        if(data.status){
                            const thirdDiv = dely.parentElement.parentElement;
                            const secondDiv = thirdDiv.previousElementSibling;
                            const firstDiv = secondDiv.previousElementSibling;
                            thirdDiv.hide()
                            secondDiv.hide();
                            firstDiv.hide();
                        }else{
                            alert(data.message);
                        }
                    }
                })
            })
        })

        $("#deliveryForm").on("submit", function(e){
            e.preventDefault();
            $.ajax({
                url: "/order/create",
                type: "post",
                data: $(this).serialize(),
                dataType: "json",
                success: function(data){
                    if(data.status){
                        location.href = data.response.authorization_url;
                    }else{
                        alert(data.message)
                    }
                }
            })
        })

        $("#checkout").on("click", function(e){
            e.preventDefault();
            $.ajax({
                url: "/order/create",
                type: "post",
                dataType: "json",
                success: function(data){
                    if(data.status){
                        location.href = data.response.authorization_url;
                    }else{
                        alert(data.message)
                    }
                }
            })
        })
        

    </script>
</body>
</html>